* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  gap: 15vh;
  margin-bottom: 5vh;
  background-color: rgb(22, 1, 1);
  max-width: 100vw;
}
.line {
  width: 100vw;
  height: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  filter: drop-shadow(1px 1px 1.5px);
}
.philosophy {
  display: grid;
  place-content: center;
  text-align: center;
  padding-top: 200px;
}
.philosophy h2 {
  filter: drop-shadow(1px 1px 1px);
  animation: changeColor 3s infinite;
}
.philosophy p {
  width: 60vw;
  padding-top: 20px;
  font-size: 2vh;
  word-spacing: 2px;
  color: white;
}
.goal p,
.mission p,
.vision p {
  color: white;
  font-size: 1.2vw;
}
.text {
  color: white;
  font-size: 1.1vw;
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.mission h2,
.text-container h2,
.text-container h2 {
  color: #752738;
  font-size: 4vw;
  border-bottom: 2vh;
  padding-bottom: 2vh;
}
.goal,
.vision {
  padding: 5vh;
  background-color: rgb(22, 1, 1);
  display: flex;
  gap: 20px;
}
.goal img,
.vision img,
.mission img {
  height: 60vh;
}
.mission {
  padding: 5vh;
  background-color: rgb(22, 1, 1);
  display: flex;
  gap: 20px;
}

/* ANIMATIONS */

@keyframes changeColor {
  0% {
    color: rgb(255, 255, 255);
  }
  35% {
    color: #752738;
  }
  70% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
